In [5]:
import sqlite3

db  = 'sample.db'

con = sqlite3.connect(db)

csr = con.cursor()

sql  ='create table Employee(name,email,department,position);'
csr.execute(sql)

con.commit()

con.close()

In [17]:
import sqlite3

db = 'sample.db'

con = sqlite3.connect(db)

csr = con.cursor()

sql = "insert into Employee(name,email,department,position)\values('yamada','yamada@abcxyz.co.jp,'Sales','staff');"
csr.execute(sql)
sql = "isert into Employee(name,email,department,positio\values('Suzuki','suzuki@abcxyz.co.jp','Development','staff');"
csr.execute(sql)

sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

sql = "delete from Employee where name = 'yamada';"
csr.execute(sql)
print(csr.fetchall())

sql = "updata Employee set position = 'Manager' where name = 'Suzuki';"
xsr.execute(sql)

con.commit()

sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

con.close()

OperationalError: unrecognized token: ""

In [18]:
csr.execute('drop table data_set')
con.commit()

OperationalError: no such table: data_set